* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
}


a.link:hover {
    text-decoration: underline;
}

/* Section title */
.section-title__wrapper {
    width: 100%;
}

.section_title__wrapper_center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-title__upper-icon {
    font-size: 2.5rem;
    margin: 0 auto;
}

.section-title__text {
    margin-top: 0;
}

@media screen and (min-width: 992px) {
    .section-title__text {
        font-size: 3.7rem;
    }
}

@media screen and (max-width: 992px) {
    .section-title__text {
        font-size: 2rem;
    }
}
