<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Django Hardware Store{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'general/css/materialize.min.css' %}">
    <script type="text/javascript" src="{% static 'general/js/materialize.min.js' %}"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'general/css/global.css' %}">
    <script type="text/javscript" src="{% static 'general/js/global.js' %}"></script>

    {% block links %}{% endblock %}
    {% block style %}{% endblock %}
</head>
<body>
    {% block header %}
        <header>
            <nav class="green">
                <div class="nav-wrapper container">
                    <a href="{% url 'general:index' %}" class="brand-logo">DHS</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <a href="{% url 'general:index' %}">
                                Home
                                <i class="material-icons right">home</i>
                            </a>
                        </li>
                        {% if not user.is_authenticated %}
                            <li>
                                <a href="{% url 'users:login' %}">
                                    Login
                                    <i class="material-icons right">person</i>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'users:register' %}">
                                    Register
                                    <i class="material-icons right">person_add</i>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'users:logout' %}">
                                    Logout
                                    <i class="material-icons right">exit_to_app</i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav> 
        </header>
    {% endblock %}
    
    {% block main %}<main></main>{% endblock %}
   {% block script %}{% endblock %}
</body>
</html>
