{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Login -- Django Hardware Store{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'users/css/auth.css' %}">
{% endblock %}

{% block main %}
    <main>
        <section class="section">
            <div class="container">
                <form class="auth-window z-depth-1" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col s12 center">
                            <h2 class="auth-window__title">Log in account</h2>
                            <p>Fill the fields below</p>
                        </div>
                        <div class="col s12 input-field">
                            {{ form.email  }}
                            <label for="{{ form.email.id_for_label }}">
                                Email adress
                            </label>
                        </div>
                        <div class="col s12 input-field">
                            {{ form.password }}
                            <label for="{{ form.password.id_for_label }}">
                                Password
                            </label>
                        </div>
                        <div class="col s12 center">
                            <button class="btn-large btn_action waves-effect
                                waves-light green">
                                Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>    
        </section>
    </main>
{% endblock %}
