{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Register -- Django Hardware Store{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'users/css/auth.css' %}">
{% endblock%}


{% block main %}
<main>
    <section class="section">
        <div class="container">
            <form method="post" class="auth-window z-depth-1">
                {% csrf_token %}
                <div class="row">
                    <div class="col s12 center">
                        <h2 class="auth-window__title">Create account</h2>
                        <p>Fill the fields below</p>
                    </div>
                    <div class="col s12 input-field">
                        {{ form.email }}
                        <label>Email adress</label>
                    </div>
                    <div class="col s12 input-field">
                        {{ form.first_name  }}
                        <label>First name</label>
                    </div>
                    <div class="col s12 input-field">
                        {{ form.last_name  }}
                        <label>Last name</label>
                    </div>
                    <div class="col s12 input-field">
                        {{ form.password }}
                        <label>Password</label>
                    </div>
                    <div class="col s12 input-field">
                        {{ form.confirm_password  }}
                        <label>Confirm password</label>
                    </div>
                    <div class="col s12 center">
                        <button class="btn-large btn_action waves-effect waves-light
                            green">
                            Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}
