/* Authentication window */

.auth-window {
    padding: 20px 40px;
}

.auth-window__tilte {
    margin: 10px 0;
}

.btn_action {
    width: 100%;
}

@media screen and (min-width: 992px) {
    .auth-window {
        max-width: 50%;
        margin: 0 auto;
    }

    .auth-window__title {
        font-size: 3rem;
    }

    .section {
        min-height: 90vh;
        display: flex;
        align-items: center;
    }
} 

@media screen and (max-width: 992px) {
    .auth-window {
        width: 100%;
        margin: 50px 0;
    }

    .auth-window__title {
        font-size: 2rem;
    }
}
