{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Completed Orders -- Django Hardware Store{% endblock %}

{% block script %}
<script>
    async function finilizeOrderButton() {
        event.preventDefault();

        const form = event.target;
        const orderId = parseInt(form.dataset.id, '10');
        const token = form.querySelectorAll('input[name=csrfmiddlewaretoken]')[0].value;

        const formData = new FormData();
        formData.append('id', orderId);
        
        const response = await fetch(
            "{% url 'orders:finilize' %}",
            {
                method: 'POST',
                headers: {
                    'X-CSRFToken': token,
                },
                body: formData
            }
        );

        if (response.ok) {
            location.reload();
        } else {
            M.toast({
                html: 'Unfortunately, you can not finilize this order at the moment',
                classes: 'red darken-2'
            });
        }
    }    
</script>
{% endblock %}

{% block main %}
<main>
    <section class="section">
        <div class="container">
            <h1>Completed orders</h1>
            <div class="divider"></div>
            <p>
                List of completed orders is presented in a table below. To add new order visit <a href="{% url 'orders:create' %}" class="blue-text text-darken-2 link">order creation page</a>.
            </p>           
            <table class="striped centered responsive-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.id  }}</td>
                            <td>{{ order.product.name }}</td>
                            <td>{{ order.create_date|date:"H:i A d.m.Y" }}</td>
                            <td>
                                <form onsubmit="finilizeOrderButton();"
                                    data-id={{ order.id }}>
                                    {% csrf_token %}
                                    <button class="btn waves-effect waves-light
                                        red darken-2">
                                        Finilize
                                        <i class="material-icons right">done</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</main>
{% endblock %}
