{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}New Orders -- Django Hardware Store{% endblock %}

{% block script %}
<script>
    async function completeOrder() {
        event.preventDefault();

        const form = event.target;
        const orderId = parseInt(form.dataset.id, '10');
        const token = form.querySelectorAll('input[name=csrfmiddlewaretoken]')[0].value;

        const formData = new FormData();
        formData.append('id', orderId);

        const response = await fetch(
            "{% url 'orders:complete' %}",
            {
                method: 'POST',
                headers: {
                    'X-CSRFToken': token,
                },
                body: formData
            }
        );

        console.log(response.status);
        if (response.ok) {
            location.reload();
        } else {
            M.toast({
                html: 'Unfortunately, you can not complete this order at the moment',
                classes: 'red darken-2'
            });
        }
    }
</script>
{% endblock %}

{% block main %}
    <main>
        <section class="section">
            <div class="container">
                <h1>New Orders</h1>
                <div class="divider"></div>

                <table class="responsive-table striped centered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Product</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.id  }}</td>
                                <td>{{ order.product.name  }}</td>
                                <td>{{ order.create_date|date:"H:i A d.m.Y" }}</td>
                                <td>
                                    <form onsubmit="completeOrder();"
                                        data-id={{ order.id }}>
                                        {% csrf_token %}
                                        <button class="btn red darken-2 waves-effect
                                            waves-light">
                                            Complete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock %}
